<div class="detail-box">
    <div class="detail-box-title">
        <span class="icon"></span>
        工作经历
    </div>
    <div class="detail-box-title">
        <span class="icon"></span>
        <i class="iconfont icon-shijian" style="color:red"></i>2015.11-至今
    </div>
    <table style="width: 100%">
        <tr>
            <td class="text">公司：</td>
            <td class="component">上海海鼎信息股份有限公司<br>（万达网络科技有限公司旗下）</td>
            <td  class="text">职位：</td>
            <td class="component">WEB前端开发</td>
        </tr>
        <tr>
            <td class="text">地区：</td>
            <td class="component">上海市闵行区</td>
            <td  class="text">人数</td>
            <td class="component">500-1000人/民营企业</td>
        </tr>
        <tr>
            <td class="text" style="vertical-align: top">工作描述：</td>
            <td COLSPAN="3">
                一、开发前期准备：<br>
                a.参与组件库的开发，预先定义一套规范的样式和组件，便于后期能够重复利用以及缩减代码。<br>
                b.拿到交互稿，分析现有功能模块，与需求进行沟通。与后台定义数据格式。然后编写界面设计，以便于后续能够高效的完成开发任务。并且减少bug。<br>
                二、开发中：<br>
                a.根据界面设计进行代码的开发。<br>
                b.开发完毕，进行自测，核对是否现有功能缺失。<br>
                三、开发后：<br>
                a.将开发任务转交给测试。并且解决测出的bug。<br>
                b.进行项目的维护工作。</td>
        </tr>

    </table>

</div>

<div class="detail-box">
    <div class="detail-box-title">
        <span class="icon"></span>
        <i class="iconfont icon-shijian" style="color:red"></i>2015.07-2015.11
    </div>
    <table style="width: 100%">
        <tr>
            <td class="text">公司：</td>
            <td class="component">无锡儒安科技有限公司</td>
            <td  class="text">职位：</td>
            <td class="component">WEB前端开发（实习）</td>
        </tr>
        <tr>
            <td class="text">地区：</td>
            <td class="component">江苏无锡</td>
            <td  class="text">人数</td>
            <td class="component">50-150人/民营企业</td>
        </tr>
        <tr>
            <td class="text" style="vertical-align: top">工作描述：</td>
            <td COLSPAN="3">
                进行小型项目的网页的编写，用bootstrap进行编写网页，以及部分js的编写，并与后台相连接
                实习期间对html5+css3的学习以及对javascript的学习,并且有进行少许后端的开发<br>
            </td>
        </tr>

    </table>

</div>