

<div class="detail-box">
    <div class="detail-box-title">
        <span class="icon"></span>
        基本资料
    </div>
    <table style="width: 100%">
        <tr>
            <td class="text">姓名：</td>
            <td class="component">张颖</td>
            <td  class="text">性别：</td>
            <td class="component">女</td>
        </tr>
        <tr>
            <td class="text">毕业院校：</td>
            <td class="component">江南大学（2012.9-2016.7）</td>
            <td  class="text">专业：</td>
            <td class="component">物联网工程专业</td>
        </tr>
        <tr>
            <td class="text">籍贯：</td>
            <td class="component">江苏宜兴</td>
            <td  class="text">目前所在地：</td>
            <td class="component">江苏无锡</td>
        </tr>
        <tr>
            <td  class="text">年龄：</td>
            <td class="component">23</td>
            <td class="text">婚姻状况：</td>
            <td class="component">未婚</td>
        </tr>
        <tr>
            <td class="text">英语：</td>
            <td class="component">精通（有英语四级以及六级证书）</td>
            <td  class="text">家庭住址：</td>
            <td class="component">江苏省宜兴市人民中路253号301室</td>
        </tr>
        <tr>
            <td class="text">电话：</td>
            <td class="component">18352545552</td>
            <td  class="text">邮箱：</td>
            <td class="component">zhangying474831652@qq.com</td>
        </tr>
    </table>
</div>


<div class="detail-box">
    <div class="detail-box-title">
        <span class="icon"></span>
        自我评价
    </div>
    <table style="width: 100%">
        <tr>
            <td class="text">掌握技能：</td>
            <td  colspan="3">
                <div id="main" style="width: 600px;height:400px;"></div>
                列举了一部分较为擅长的技能，还有一些在开发实际项目时使用较少。
            </td>
        </tr>
        <tr>
            <td class="text">优势特长：</td>
            <td  colspan="3">
                <div id="main1" style="width: 600px;height:400px;"></div>
            </td>
        </tr>
    </table>
</div>


