

<div class="detail-box">
    <div class="detail-box-title">
        <span class="icon"></span>
        基本资料
    </div>
    <table style="width: 100%">
        <tr>
            <td class="text">姓名：</td>
            <td class="component">张颖</td>
            <td  class="text">性别：</td>
            <td class="component">女</td>
        </tr>
        <tr>
            <td class="text">毕业院校：</td>
            <td class="component">江南大学（2012.9-2016.7）</td>
            <td  class="text">专业：</td>
            <td class="component">物联网工程专业</td>
        </tr>
        <tr>
            <td class="text">籍贯：</td>
            <td class="component">江苏宜兴</td>
            <td  class="text">目前所在地：</td>
            <td class="component">江苏无锡</td>
        </tr>
        <tr>
            <td  class="text">年龄：</td>
            <td class="component">23</td>
            <td class="text">婚姻状况：</td>
            <td class="component">未婚</td>
        </tr>
        <tr>
            <td class="text">英语：</td>
            <td class="component">精通（有英语四级以及六级证书）</td>
            <td  class="text">家庭住址：</td>
            <td class="component">江苏省宜兴市人民中路253号301室</td>
        </tr>
        <tr>
            <td class="text">电话：</td>
            <td class="component">18352545552</td>
            <td  class="text">邮箱：</td>
            <td class="component">zhangying474831652@qq.com</td>
        </tr>
    </table>
</div>

<div class="detail-box">
    <div class="detail-box-title">
        <span class="icon"></span>
        求职意向
    </div>
    <table style="width: 100%">
        <tr>
            <td class="text">期望职位：</td>
            <td class="component">WEB前端开发</td>
            <td  class="text">意向薪资:</td>
            <td class="component">8000-10000</td>
        </tr>
        <tr>
            <td class="text">地区：</td>
            <td class="component">江苏省无锡市（没用区域要求）</td>
            <td  class="text">个人标签:</td>
            <td class="component">学习能力强，工作效率高，责任心重，热爱开发</td>
        </tr>
        <tr>
            <td class="text">到岗时间：</td>
            <td class="component">立即到岗（目前离职）</td>
            <td  class="text">工作类型:</td>
            <td class="component">全职</td>
        </tr>

    </table>
</div>

<div class="detail-box">
    <div class="detail-box-title">
        <span class="icon"></span>
        自我评价
    </div>
    <table style="width: 100%">
        <tr>
            <td class="text">掌握技能：</td>
            <td  colspan="3">张颖444顶顶顶444444444444444444444444444444444444444444444日日日日日日日日日日日日日日日日人444444444444444444444444444444444444</td>
        </tr>
        <tr>
            <td class="text">优势特长：</td>
            <td  colspan="3">张颖4444444444444444444444444444444444444444日日日日日日日日日日日日日日日日日日日444444444444444444444444444444444444444444</td>
        </tr>
    </table>
</div>
<style>
    .detail-box{
        box-shadow: 1px 1px 6px #BCBCBC;
        margin: 10px;
        margin-bottom: 10px;
        background: #ffffff;
        min-width: 800px;
    }
    .detail-box-title{
        font-size: 16px;
        color: #333333;
        line-height: 20px;
        height: 20px;
        border-bottom: 1px solid #E1E2E6;
        padding: 10px 0;
    }
    .icon{
        border-left: 4px solid #ff5146;
        padding-right: 10px;
    }
</style>