

<div class="detail-box">
    <div class="detail-box-title">
        <span class="icon"></span>
        基本资料
    </div>
    <table style="width: 100%">
        <tr>
            <td class="text">姓名：</td>
            <td class="component">张颖</td>
            <td  class="text">年龄:</td>
            <td class="component">23</td>
        </tr>
        <tr>
            <td class="text">姓名：</td>
            <td class="component">张颖</td>
            <td  class="text">年龄:</td>
            <td class="component">23</td>
        </tr>
        <tr>
            <td class="text">姓名：</td>
            <td class="component">张颖</td>
            <td  class="text">年龄:</td>
            <td class="component">23</td>
        </tr>
        <tr>
            <td class="text">姓名：</td>
            <td class="component">张颖</td>
            <td  class="text">年龄:</td>
            <td class="component">23</td>
        </tr>
    </table>
</div>

<div class="detail-box">
    <div class="detail-box-title">
        <span class="icon"></span>
        求职意向
    </div>
    <table style="width: 100%">
        <tr>
            <td class="text">姓名：</td>
            <td class="component">张颖</td>
            <td  class="text">年龄:</td>
            <td class="component">23</td>
        </tr>
        <tr>
            <td class="text">姓名：</td>
            <td class="component">张颖</td>
            <td  class="text">年龄:</td>
            <td class="component">23</td>
        </tr>
        <tr>
            <td class="text">姓名：</td>
            <td class="component">张颖</td>
            <td  class="text">年龄:</td>
            <td class="component">23</td>
        </tr>
        <tr>
            <td class="text">姓名：</td>
            <td class="component">张颖</td>
            <td  class="text">年龄:</td>
            <td class="component">23</td>
        </tr>
    </table>
</div>

<div class="detail-box">
    <div class="detail-box-title">
        <span class="icon"></span>
        自我评价
    </div>
    <table style="width: 100%">
        <tr>
            <td class="text">姓名：</td>
            <td class="component">张颖</td>
            <td  class="text">年龄:</td>
            <td class="component">23</td>
        </tr>
        <tr>
            <td class="text">姓名：</td>
            <td class="component">张颖</td>
            <td  class="text">年龄:</td>
            <td class="component">23</td>
        </tr>
        <tr>
            <td class="text">姓名：</td>
            <td class="component">张颖</td>
            <td  class="text">年龄:</td>
            <td class="component">23</td>
        </tr>
        <tr>
            <td class="text">姓名：</td>
            <td class="component">张颖</td>
            <td  class="text">年龄:</td>
            <td class="component">23</td>
        </tr>
    </table>
</div>
<style>
    .detail-box{
        box-shadow: 1px 1px 6px #BCBCBC;
        margin: 10px;
        margin-bottom: 10px;
        background: #ffffff;
        min-width: 800px;
    }
    .detail-box-title{
        font-size: 16px;
        color: #333333;
        line-height: 20px;
        height: 20px;
        border-bottom: 1px solid #E1E2E6;
        padding: 10px 0;
    }
    .icon{
        border-left: 4px solid #ff5146;
        padding-right: 10px;
    }
</style>