<div class="detail-box">
    <div class="detail-box-title">
        <span class="icon"></span>
        项目经验
    </div>
    <div class="detail-box-title">
        <span class="icon"></span>
        <i class="iconfont icon-jichuziliao" style="color:red"></i>千帆计划
    </div>
    <table style="width: 100%">
        <tr>
            <td class="text">项目简介：</td>
            <td colspan="3" >
                千帆计划为万达网络科技及其旗下公司海鼎公司共同打造的以千帆掌柜，千帆数据通，千帆服务商，千帆运营等一些列产品的集合。主要用于门店销售，提供会员服务，以及促销活动等等<br>

            </td>
        </tr>
        <tr>
            <td class="text">项目地址：</td>
            <td colspan="3"><a href="http://www.qianfan123.com/#1!dpos" target="_blank">http://www.qianfan123.com/#1!dpos</a></td>
        </tr>
        <tr>
            <td class="text">所属公司：</td>
            <td class="component">上海海鼎信息股份有限公司</td>
            <td  class="text">人数：</td>
            <td class="component">500-1000人/民营企业</td>
        </tr>
        <tr>
            <td class="text" style="vertical-align: top">项目描述：</td>
            <td COLSPAN="3" >
                1.千帆-会员：<br>
                使用html，css进行页面的搭建，使用angularjs进行框架的搭建，包括路由的建立以及监听，权限的控制。主要功能为会员管理，新增会员，会员充值，会员报表等等，主要采用的技术为angularjs中懒加载以及provider，filter等等，以及echarts进行可视化的展示数据。<br>
                2.千帆-数据通：主要是用于收集分布于各个节点的数据，并且形成报表，使用echarts进行展示。并且能够进行操作各个节点的状态，进行管理。<br>
                3.千帆-服务商管理系统：进行服务商的管理，用于门店的开户以及管理。<br>
                4.千帆-运营系统：内部管理系统，主要是对于各个模块进行协调。<br>
                5.千帆-电务：报表的开发以及回收站的开发<br>
            </td>
        </tr>

    </table>

</div>

<div class="detail-box">
    <div class="detail-box-title">
        <span class="icon"></span>
        <i class="iconfont icon-jichuziliao" style="color:red"></i>物流管理系统
    </div>
    <table style="width: 100%">
        <tr>
            <td class="text">项目简介：</td>
            <td colspan="3">
                物流管理系统即管理物品从发货到配送之间所涉及的各个过程，包括补货建议，电子标签拣货等等<br>
            </td>
        </tr>
        <tr>
            <td class="text">所属公司：</td>
            <td class="component">上海海鼎信息股份有限公司</td>
            <td  class="text">人数：</td>
            <td class="component">500-1000人/民营企业</td>
        </tr>
        <tr>
            <td class="text" style="vertical-align: top">工作描述：</td>
            <td COLSPAN="3" >
               使用angular2进行开发，使用typeScript语法进行开发项目，是一次新的尝试，但是后来由于万达的进驻，导致项目提前终止，暂无成品<br>
            </td>
        </tr>

    </table>

</div>